# opBNB Mainnet
DEPLOYER_PRIVATE_KEY=0x_your_deployer_private_key
BSCSCAN_API_KEY=your_bscscan_api_key
ETHERSCAN_API_KEY=your_etherscan_api_key
CONTRACT_ADDRESS=deployed_contract_address

# Particle Network
PARTICLE_PROJECT_ID=your_particle_project_id
PARTICLE_CLIENT_KEY=your_particle_client_key
PARTICLE_SERVER_KEY=your_particle_server_key
PARTICLE_APP_ID=your_particle_app_id
